body{
    font-family: 'Nunito Sans',sans-serif;
    margin: 0 10%;
}

.bold{
    font-weight:700;
}

.beige_color{
    background-color:#efd9ca;
    color:black;
}

.blue_color{
    background-color: #2d5dcc;
    color: #fff;
}

.container{
    border: 2px solid #a2a2a6;
    padding: 10px;
    margin: 10px auto;
}

.cool_panel{
    display:inline-block;
    width:32%;
    text-align:center;
    margin: 20px auto;
    min-height:100px;
}

.colors_container{
    width:100%;
}

.default{
    font-style:normal;
}

.italic{
    font-style:italic;
}

.roboto_condensed{
    font-family: 'Roboto Condensed', sans-serif;
}

.font-container{
    display:inline-block;
    width:45%;
}

.font_title{
    text-decoration:underline;
    font-size:20px;
}

.pink_color{
    background-color: #d957d9;
    color:black;
}

.pinkish_color{
    background-color:#ebaaf8;
    color:black;
}

.poppins{
    font-family: 'Poppins', sans-serif;
}

.mint_green_color{
    background-color: #4fe0b0;
    color:black;
}

.lemon_tree_color{
    background-color: #fdffc6;
    color:black;
}

.source_code_pro{
    font-family: 'Source Code Pro', monospace;
}

.nunito_sans{
    font-family: 'Nunito Sans', sans-serif;
}